:root {
    --app-main-font-family: monospace;
    --font-size-base: 16px;
    --debug: 0;
}

html, button, input, label {
    font-family: var(--app-main-font-family);
    font-size: var(--font-size-base);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}


pre {
    whitespace: pre-wrap;
}
