:root {
    --debug: 0;
    --app-main-font-family: 'DejaVu Sans';
    --font-size-base: 16px;
    --color-primary: hsla(58, 100%, 51%, 1); /* choodle yellow */
    --choodle-yellow: #FEF40A;
    --choodle-black: #141518;
    --color-link: #051BDC;
}

html, button, input, label {
    font-family: var(--app-main-font-family);
    font-size: var(--font-size-base);
    color: var(--choodle-black);
}

* {
    box-sizing: border-box;
}

html, body, main {
    margin: 0 auto;
    padding: 0;
    max-width: 720px;
}

pre {
    whitespace: pre-wrap;
}

/* Typography */
/* https://www.figma.com/file/wozIImqVXBLj3XbQH4tqCw/Choodle?type=design&node-id=733-280551&mode=dev */
h1 {
    color: var(--choodle-black);

    /* mobile/h1 */
    font-family: DejaVu Sans Bold;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 2.4rem */
    letter-spacing: 0.004rem;
}

h2 {
    color: var(--choodle-black);

    /* mobile/h2 */
    font-family: DejaVu Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 2.4rem */
    letter-spacing: 0.004rem;
}

h3 {
    color: var(--choodle-black);
    font-family: DejaVu Sans Bold;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.35rem */
}

.body-bold, strong, b {
    color: var(--choodle-black);

    /* mobile/body-bold */
    font-family: DejaVu Sans Bold;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.2rem */
}

body, .body-reg, p {
    color: var(--choodle-black);

    /* mobile/body-reg */
    font-family: DejaVu Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
}

p, .body-reg {
    margin: 0;
    padding: 0em 0 0;
    min-height: 1em;
}

a, .link {
    color: var(--color-link);

    /* mobile/link */
    font-family: DejaVu Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
    text-decoration-line: underline;
}

.caption-bold, figcaption strong {
    color: var(--choodle-black);

    /* mobile/caption-bold */
    font-family: DejaVu Sans Bold;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.05rem */
}

.caption-reg, figcaption {
    color: var(--choodle-black);

    /* mobile/caption-reg */
    font-family: DejaVu Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.05rem */
}

