:root {
    --debug: 0;
    --app-main-font-family: monospace;
    --font-size-base: 16px;
    --color-primary: hsla(58, 100%, 51%, 1);
}

html, button, input, label {
    font-family: var(--app-main-font-family);
    font-size: var(--font-size-base);
}

* {
    box-sizing: border-box;
}

html, body, main {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100%;
}

pre {
    whitespace: pre-wrap;
}
